<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="true"
         processIsolation="false">
    <testsuites>
        <testsuite name="ZFCTool">
            <directory>./ZFCToolTest</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./../src/</directory>
        </whitelist>
    </filter>

    <logging>
   		<log type="coverage-html" target="build/result/coverage" charset="UTF-8" />
   	</logging>
</phpunit>